body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    padding-top: 60px;
  }
  
  .sticky-header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .btn-group a {
    background-color: #ffffff;
    border: none;
    color: white;
    padding: 0px;
    cursor: pointer;
    float: left;
    font-size: 24px;
    position: relative;
    overflow: hidden;
  }

  .btn-group a:not(:last-child) {
    border-right: none;
  }

  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }

  .btn-group a:hover {
    background-color: #686868;
  }

  .btn-group a:hover .overlay-text {
    opacity: 1;
  }

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
  }

  .transparent {
    opacity: 1;
    height: auto;
    display: block;
  }

  .btn-group a:hover .transparent {
    opacity: 0.3;
  }